@import url('https://fonts.googleapis.com/css2?family=Gugi&family=Nunito:wght@300;400&family=Raleway:wght@300&family=Roboto:wght@300&family=Shadows+Into+Light&display=swap');

body {
  font-family: Nunito, Georgia, sans-serif;
  max-width: 960px;
  margin: 20px auto;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: 20px;

}



header,
footer {
  padding-left: 20px;
  grid-column: 1 / -1;
}

header {
  font-family: Nunito, Georgia, sans-serif;
}

a:link {
  color: rgb(255, 0, 0);
}

a:visited {
  color: rgb(0, 0, 255);
}

a:hover {
  color: rgb(0, 0, 0);
}

a:active {
  color: rgb(255, 255, 255);
}

main {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: 20px;
  grid-template-areas:
  "intro intro"
  "people environment"
  "transnational transnational";
}

#introduction {
  grid-area: intro;
  background-color: rgba(0, 90, 150, 0.5);
}

#people-and-society {
  grid-area: people;
   background-color: rgba(255, 0, 0, 0.75);
}

#environment {
  grid-area: environment;
  background-color: rgba(50, 50, 50, 0.5);
}

#transnational-issues {
  grid-area: transnational;
  background-color: rgb(215, 190, 105);
}
