body {
  background-color: rgb(192, 192, 192);
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: 20px;
  max-width: 960px;
  margin: 0 auto;
}

header {
  color: rgb(0, 71, 100);
}

h2, h3 {
  color: rgb(0, 71, 100);
}

p {
  color: rgb(112, 41, 99);
}

figcaption {
    color: rgb(112, 41, 99);
}
